.pat{
    background-image: url('../img/pattern.png');
    background-color: #4EA0FF;
    background-size: 100px;
}
.logo{
    width: 175px;
}
.sez{
    color: #20A9E5;
}
.txt{
    background-color: yellow;
}
.testa{
    background-color: #4EA0FF;
    color: white;
}
.corpo{
    background-color: #20A9E5;
}
.monitor{
    color: white;
    background-image: url('../img/monitor.jpg');
    width: 300px;
    height: 200px;
  }
  .graph{
    color: white;
    background-image: url('../img/graph.jpg');
    width: 300px;
    height: 200px;
  }
